@import "../../../node_modules/tailwindcss/lib/css/preflight.css";


body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 48px;
}