<h1>Bud CLI</h1>

<h2><code>bud run</code></h2>

<p>This is a post</p>

<h2><code>bud build</code></h2>

<h2><code>bud tool di</code></h2>

<h2><code>bud tool fs</code></h2>

<h2><code>bud tool js</code></h2>
